@inherits LayoutComponentBase

<div class="main-layout">
    <div class="container">
        <NavMenu></NavMenu>
        <div class="content">
            @Body
        </div>
    </div>
</div>

<style>
    body {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        height: 100vh;
        background-color: #0f172a;
        color: white;
    }

    .container {
        width: 100%;
        max-width: 900px;
        padding: 40px 30px;
        background-color: #020617;
        border-radius: 20px;
        text-align: center;
        box-shadow: 0 15px 40px rgba(0, 0, 0, 0.5);
        margin: auto;
    }

    h1 {
        font-size: 2.2rem;
        margin-bottom: 10px;
        color: #38bdf8;
    }

        h1 span {
            color: #22c55e;
        }

    p {
        font-size: 1rem;
        margin-bottom: 30px;
        color: #cbd5e1;
    }

    .content {
        margin-top: 20px;
    }

    button {
        width: 100%;
        padding: 14px;
        margin-bottom: 12px;
        font-size: 1rem;
        font-weight: bold;
        border: none;
        border-radius: 12px;
        cursor: pointer;
    }

    .primary-btn {
        background-color: #22c55e;
        color: #020617;
    }

    .secondary-btn {
        background-color: transparent;
        border: 1px solid #38bdf8;
        color: #38bdf8;
        text-decoration: none;
    }

    button:hover {
        opacity: 0.9;
    }
</style>

