@using BudgetPlusPlus.Components.Account.Shared
@implements IDisposable
@inject NavigationManager NavigationManager

<div class="top-row">
    <div class="container-fluid">
        <nav class="nav-menu">
            <NavLink href="" class="nav-link" Match="NavLinkMatch.All">Home</NavLink>
            <NavLink href="counter" class="nav-link">Counter</NavLink>
            <NavLink href="weather" class="nav-link">Weather</NavLink>

            <AuthorizeView>
                <Authorized>
                    <div class="nav-item-group">
                        <NavLink href="Account/Manage" class="nav-link">@context.User.Identity?.Name</NavLink>
                        <form action="Account/Logout" method="post" class="logout-form">
                            <AntiforgeryToken />
                            <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                            <button type="submit" class="logout-btn">Logout</button>
                        </form>
                    </div>
                </Authorized>
                <NotAuthorized>
                    <NavLink href="Account/Register" class="nav-link">Register</NavLink>
                    <NavLink href="Account/Login" class="nav-link">Login</NavLink>
                </NotAuthorized>
            </AuthorizeView>
        </nav>
    </div>
</div>


@code {
    private string? currentUrl;
    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

}